html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  background-color: black;
}

header h4 {
  margin: 0.66rem 1rem;
}

header img {
  height: 1.5rem;
}

#content {
  width: 90%;
  margin: 0rem 5rem;
}

#mainbanner {
  width: 100%;
  height: 25rem;
  background-image:url(../images/moto.jpeg);
  background-size: cover;
}


.layer, .layer_mobile {
  background-color: black;
  width: 27rem;
  font-weight: bold;
  align-items: center;
}

.layer h4, .layer_mobile h4 {
  font-size: 1rem;
  margin: 2rem 0rem 0.25rem 3rem;
}

.layer h2, .layer_mobile h2 {
  font-size: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

#navigation, #menu {
  background-color: firebrick;
  justify-content: center;
}

#category {
  width: 960px;
  margin: 0.75rem 0rem;
  justify-content: space-between;
}

#category_tablet {
  width: 100%;
  margin: 0.75rem 0rem;
  justify-content: center;
}

#category_tablet span  a {
  text-decoration: none;
  color: white;
}

#grid {
  justify-content: space-between;
}

.item {
  width: 30%;
  border: 4px solid black;
  margin-top: 3rem;
  display: block;
}

.item img {
  max-width: 80%;
  margin: 2rem auto 2rem auto;
  display: block;
  height: 9rem;
}

.item h5 {
  background-color: black;
  padding: 0.5rem 0rem;
  text-align: center;
}

#information {
  justify-content: space-between;
}

.box {
  width: 35%;
  display: block;
}
.location, .hours {
  margin-top: 3rem;
  padding: 1rem 0rem 1rem 2rem;
  background-color: black;
}

.details {
  color: black;
}

footer {
  background-color: black;
  height: 5rem;
  margin-top: 4rem;
}

/* NOTE: Responsive */

@media only screen and (max-width: 1024px) and (min-width: 470px){
  html {font-size: 1.5rem;}
  #navigation {display: none;}
  .item {width: 47%;}
  .layer_mobile {display: none;}
}

@media only screen and (min-width: 1025px) {
  #menu {display: none;}
  .layer_mobile {display: none;}
}

@media only screen and (max-width: 470px) {
    #menu {display: none;}
    #navigation {display: none;}
    header h4 {margin: 0.66rem 1rem;
    }
    header img {height: 1rem;}
    #content {width: 100%; margin: 0rem 1.5rem;}
    .layer {display: none;}
    .item {width: 90%;}
    #information {display: block;}
    .box {width: 90%; margin-top: 0.5rem;}
    footer {text-align: center;}
}
